$mainFontFamily: 'Montserrat', sans-serif;
$headerFontFamily: 'Rubik Storm', cursive;

$titleColor: #000000;
$inputBorderColor: #000000;
$inputBackgroundColor: #ffffff91;
$inputBorderColorError: #db0a0a;